/*******************************
           Header
*******************************/


@media only screen and (max-width: 767px) {
  .ui.stackable.menu .item {
    margin-bottom: 5px;
  }
}

.supertop{
  background: linear-gradient(to bottom,  #ffffff 73%,#efefef 100%);
}

.wishlist-button{
  color: #333;

  &:hover {
    text-decoration: none;
    text-color: #222;
  }
}


.ui.horizontal.list:not(.celled)>.item:first-child {
  padding-left: 1rem !important;
}

.description a {
  color: @background-color-two;
}