* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
html {
  font-size: 14px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: "Roboto Condensed", sans-serif !important;
  color: rgba(0,0,0,0.8);
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
p {
  margin: 0 0 10px;
}

.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eeeeee;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}
.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.form-control {
  display: block;
  width: 100%;
  height: 40px;
  padding: 6px 12px;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 18px;
  color: #555555;
  margin:0;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #E5E5E5;
  border-radius: 1px;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.panel-body .form-control {
  box-shadow : none;
  outline: none;
}
.panel-body .form-control:focus {
  border-color: #E5E5E5;
  border-bottom: 2px solid #888;
  box-shadow: none;
}
.form-control::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999999;
}
.form-control::-webkit-input-placeholder {
  color: #999999;
}

.form-group {
  margin-bottom: 2rem;
}
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
  color: #a94442;
}
.has-error .form-control {
  border-color: #a94442;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-error .form-control:focus {
  border-color: #843534;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}
.has-error .input-group-addon {
  color: #a94442;
  border-color: #a94442;
  background-color: #f2dede;
}
.has-error .form-control-feedback {
  color: #a94442;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #333333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  outline: 0;
  background-image: none;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  box-shadow: none;
}
.btn-default {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #ffffff;
  border-color: #cccccc;
}
.btn-default .badge {
  color: #ffffff;
  background-color: #C9423C;
}




[data-toggle="buttons"] > .btn input[type="radio"],
[data-toggle="buttons"] > .btn-group > .btn input[type="radio"],
[data-toggle="buttons"] > .btn input[type="checkbox"],
[data-toggle="buttons"] > .btn-group > .btn input[type="checkbox"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}
.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}
.input-group[class*="col-"] {
  float: none;
  padding-left: 0;
  padding-right: 0;
}
.input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
}
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
select.input-group-lg > .form-control,
select.input-group-lg > .input-group-addon,
select.input-group-lg > .input-group-btn > .btn {
  height: 46px;
  line-height: 46px;
}
textarea.input-group-lg > .form-control,
textarea.input-group-lg > .input-group-addon,
textarea.input-group-lg > .input-group-btn > .btn,
select[multiple].input-group-lg > .form-control,
select[multiple].input-group-lg > .input-group-addon,
select[multiple].input-group-lg > .input-group-btn > .btn {
  height: auto;
}
.input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
select.input-group-sm > .form-control,
select.input-group-sm > .input-group-addon,
select.input-group-sm > .input-group-btn > .btn {
  height: 30px;
  line-height: 30px;
}
textarea.input-group-sm > .form-control,
textarea.input-group-sm > .input-group-addon,
textarea.input-group-sm > .input-group-btn > .btn,
select[multiple].input-group-sm > .form-control,
select[multiple].input-group-sm > .input-group-addon,
select[multiple].input-group-sm > .input-group-btn > .btn {
  height: auto;
}
.input-group-addon,
.input-group-btn,
.input-group .form-control {
  display: table-cell;
}
.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child),
.input-group .form-control:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.input-group-addon,
.input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}
.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: #555555;
  text-align: center;
  background-color: #eeeeee;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
.input-group-addon.input-sm {
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 3px;
}
.input-group-addon.input-lg {
  padding: 10px 16px;
  font-size: 18px;
  border-radius: 6px;
}
.input-group-addon input[type="radio"],
.input-group-addon input[type="checkbox"] {
  margin-top: 0;
}
.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group > .btn,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.input-group-addon:first-child {
  border-right: 0;
}
.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.input-group-addon:last-child {
  border-left: 0;
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #F000FF;
  background-color: #000EEE;
  border: 1px solid #000FFF;
  margin-left: -1px;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #E000EE;
  background-color: #111FFF;
  border-color: #000FFF;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #E000EE;
  background-color: #000FFF;
  border-color: #111FFF;
  cursor: default;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777777;
  background-color: #ffffff;
  border-color: #dddddd;
  cursor: not-allowed;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.pager {
  padding-left: 0;
  margin: 20px 0;
  list-style: none;
  text-align: center;
}
.pager li {
  display: inline;
}
.pager li > a,
.pager li > span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 15px;
}
.pager li > a:hover,
.pager li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}
.pager .next > a,
.pager .next > span {
  float: right;
}
.pager .previous > a,
.pager .previous > span {
  float: left;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #777777;
  background-color: #ffffff;
  cursor: not-allowed;
}
.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  background-color: #FF0000;
  border-radius: 10px;
}
.badge:empty {
  display: none;
}
.btn .badge {
  position: relative;
  top: -1px;
}
.btn-xs .badge {
  top: 0;
  padding: 1px 5px;
}
a.badge:hover,
a.badge:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
  color: #337ab7;
  background-color: #ffffff;
}
.list-group-item > .badge {
  float: right;
}
.list-group-item > .badge + .badge {
  margin-right: 5px;
}
.nav-pills > li > a > .badge {
  margin-left: 3px;
}
.jumbotron {
  padding: 30px 15px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eeeeee;
}
.jumbotron h1,
.jumbotron .h1 {
  color: inherit;
}
.jumbotron p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}
.jumbotron > hr {
  border-top-color: #d5d5d5;
}
.container .jumbotron,
.container-fluid .jumbotron {
  border-radius: 6px;
}
.jumbotron .container {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .jumbotron {
    padding: 48px 0;
  }
  .container .jumbotron,
  .container-fluid .jumbotron {
    padding-left: 60px;
    padding-right: 60px;
  }
  .jumbotron h1,
  .jumbotron .h1 {
    font-size: 63px;
  }
}
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #2b542c;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #245269;
}
.alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}
.alert-warning hr {
  border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
  color: #66512c;
}
.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}
.alert-danger hr {
  border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
  color: #843534;
}

.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.close:hover,
.close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}


.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.clearfix:after,
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
  clear: both;
}
@-ms-viewport {
  width: device-width;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 768px) {
  .visible-xs {
    display: block !important;
  }
}
@media (max-width: 768px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 768px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 768px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 768px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
.visible-print {
  display: none !important;
}
@media print {
  .visible-print {
    display: block !important;
  }
}
.visible-print-block {
  display: none !important;
}
@media print {
  .visible-print-block {
    display: block !important;
  }
}
.visible-print-inline {
  display: none !important;
}
@media print {
  .visible-print-inline {
    display: inline !important;
  }
}
.visible-print-inline-block {
  display: none !important;
}
@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}
@media print {
  .hidden-print {
    display: none !important;
  }
}
body,
label,
.checkbox label {
  font-weight: 400;
}


.view-cart:hover, .view-cart:active {
  cursor: pointer;
}

/*-----------------------------------*/

/* FOOTER */

/*-----------------------------------*/
footer{padding:30px; margin-top: 1rem; min-height:30px; font-size:12px;}
footer:before, footer:after {display:table; content:" ";}
footer:after{clear:both;}
footer .col.reset{margin:0;}
footer h4{margin-top:20px; color:#EEE; margin-bottom:20px; text-transform:capitalize;}
footer .col p{color:#999; font-size:13px; margin-bottom:10px;}
footer a{text-decoration:none;}
footer a:hover{text-decoration:none;}
footer ul{margin:0; padding:0; list-style:none;}
footer ul li{color:#999;}
footer ul li span{color:#EEE;}
footer address{color:#999; padding:8px 0;}
footer .company-info{font-size: 10px; text-align:justify;}
footer .company-info h2{font-size:14px; font-weight:600; background:#f00;}
footer .col.col-social-icons i{width:40px; height:40px; display:inline-block; padding:10px; margin-right:10px; margin-bottom:10px; text-align:center; font-size:18px; background:#ddd; color:#4c4c4c; border-radius:2px;}
footer form{margin-top:20px;}
footer hr{border-top:1px solid #444;}
footer .copyright{color:#EEE;}

/*-----------------------------------*/

/* HEADLINE */

/*-----------------------------------*/
.headline-section {
  height: 260px;
  margin-top: 1rem; /* Since semantic's .ui margin-top: -1rem; */
}

.headline-section .dark {
  color: #fff !important;
}

.headline-section .white {
  color: #333 !important;
}

.headline-section .headline-section-background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 0%;
  height: 260px;
}

.headline-section .headline-section-text {
  margin-top: 2%;
}

/*-----------------------------------*/

/* TAB */

/*-----------------------------------*/
.section-title{position:absolute; top:-56px; left:50%; margin-left:-130px; width:260px; padding:18px 0; text-align:center; border-top-left-radius:3px; border-top-right-radius:3px; }
.section-title h3{margin:0; padding:0; font-size:16px; font-weight:600; text-transform:uppercase;}

/*-----------------------------------*/

/* TAB INDICATOR */

/*-----------------------------------*/
.indicator-down {
  position: absolute;
  bottom: -12px;
  left: 50%;
  margin-left: -12px;
  width: 0;
  height: 0;
  border-left: 12px solid rgba(0, 0, 0, 0);
  border-right: 12px solid rgba(0, 0, 0, 0);
  z-index: 900;
}

/*-----------------------------------*/

/* MIXED */

/*-----------------------------------*/
.mixed-section {
  padding: 50px 0 70px 0;
  position: relative;
}

.mixed-section .row .col-xs-12:last-child {
  margin-bottom: 30px;
}

.mixed-section .row .col-xs-12 {
  margin-top: 15px;
}

.mixed-section .row .col-xs-12 .row {
  background-color: rgba(0,0,0,0.1);
  border-radius: 5px;
  padding: 1%;
}

/*-----------------------------------*/

/* FEATURED */

/*-----------------------------------*/
.featured-section {
  padding-top: 1rem;
  position: relative;
}

/*----------------------------------------*/
/*----------------------------------------*/
/*----------------------------------------*/
/* GLOBAL                                 */
/*----------------------------------------*/
/*----------------------------------------*/
/*----------------------------------------*/

/*----------------------------------------*/

/* Layout */

/*----------------------------------------*/
.center-block {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.one-half {
  width: 50% !important;
}

.one-third {
  width: 33.333333% !important;
}

.one-quarter {
  width: 25% !important;
}

.full-width {
  width: 100% !important;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.center-block {
  margin: 0 auto;
}

.horizontally-padded {
  padding-left: 5% !important;
  padding-right: 5% !important;
}

.row.padded {
  padding: 5%;
}

.row.little-padded {
  padding: 2%;
}

.row.horizontally-padded {
  padding: 0 2%;
}

.row.vertically-padded {
  padding: 2% 0;
}

.padding-side-lg {
  padding: 10px 40px;
}

.vertical-align {
  position: relative;
  top: 25%;
  transform: translateY(-25%);
}

.horizontal-align {
  margin: 0 auto;
}

.fullScreen {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.5);
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.float-clear {
  float: none;
}

.text-center {
  text-align: center !important;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-muted {
  color: #777777;
}
.text-success {
  color: #3c763d;
}
a.text-success:hover {
  color: #2b542c;
}
.text-info {
  color: #31708f;
}
a.text-info:hover {
  color: #245269;
}
.text-warning {
  color: #8a6d3b;
}
a.text-warning:hover {
  color: #66512c;
}
.text-danger {
  color: #a94442;
}
a.text-danger:hover {
  color: #843534;
}

.light {
  font-weight: 200 !important;
}

.strong {
  font-weight: bold !important;
}

.no-border {
  border: none !important;
}

.border {
  border: 1px solid #333;
}

.border-right {
  border-right: 1px solid #fff;
}

.border-left {
  border-left: 1px solid #fff;
}

.border-bottom-dark {
  border-bottom: 1px solid #333;
}

.border-bottom-clear {
  border-bottom: 1px solid #E0E0E0;
}

.border-clear {
  border: 1px solid #E0E0E0;
}

.no-decoration {
  text-decoration: none;
}

.no-decoration:hover, .no-decoration:active, .no-decoration:focus {
  text-decoration: none;
}
/*----------------------------------------*/

/* Button */

/*----------------------------------------*/
.btn {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.buybutton {
  margin-bottom: 0.25rem;
}

/*----------------------------------------*/

/* Wishlist specific button               */

/*----------------------------------------*/
.btn-outline {
  background: none;
}

.btn-outline {
  border: 1px solid #D43F3A;
  color: #D43F3A;
  margin-left: 5px;
}

.btn-danger-outline:hover, .btn-danger-outline:focus, .btn-danger-outline:active, .btn-danger-outline.active {
  color: #fff;
  border-color: #D9534F;
  background-color: #D43F3A;
}
.btn-danger-outline:active, .btn-danger-outline.active {
  border-color: #D43F3A;
  color: #D43F3A;
  box-shadow: none;
}

.btn i {
  margin-right: 4px;
}


section.slice {
  padding: 36px 0;
  position: relative;
}

.widget {
  margin-bottom: 20px;
}

#why_email {
  cursor: default ;
}

/*----------------------------------------*/
/*----------------------------------------*/
/*----------------------------------------*/
/* Style for list layout (wishlist page)  */
/*----------------------------------------*/
/*----------------------------------------*/
/*----------------------------------------*/
.list-layout-element {
  border-bottom: 1px solid #c6c6c6;
  margin-bottom: 20px;
  padding: 20px 0px;
}

/*-----------------------------------*/

/* Breadcrumbs */

/*-----------------------------------*/
.breadcrumb {
  margin: 0;
  padding: 24px 0;
  background: none;
  border-radius: 0;
}

.ui.breadcrumb a {
  color: #FFFF00 !important;
}

/*-----------------------------------*/
/*-----------------------------------*/
/*-----------------------------------*/
/* Navigation bar style (.header) */
/*-----------------------------------*/
/*-----------------------------------*/
/*-----------------------------------*/

.header-banner {
  height: 53px;
}

.inline-block {
  display: inline-block;
}

.wishlist-button{
  color: #333;
}

.wishlist-button:hover {
  text-decoration: none;
  text-color: #222;
}

@media (max-width: 767px) {
  .header-topbar .four.wide > * {
    margin-top: 2px;
  }
}

.description a {
  color: #0FFF00;
}
/*-----------------------------------*/
/*-----------------------------------*/
/*-----------------------------------*/
/* Style for Category's page */
/*-----------------------------------*/
/*-----------------------------------*/
/*-----------------------------------*/
.category-logo {
  height: 120px;
  border-radius: 100px;
}

.category-header {
  background-size: cover;
  margin-top: 0px;
}

.category-title, .category-subtitle {
  color: #fff;
}

.category-overlay {
  background-color: rgba(0,0,0,0.2);

  padding: 50px;
}

/*-----------------------------------*/

/* Style for Category page refining bar */

/*-----------------------------------*/

.absolute-scrollable {
  padding: 0 5px;
  overflow: auto;
}

#refine-search-container {
  border-right: 1px solid #EBEBEB;
}

.refine-search-component {
  height: 500px;
  overflow: auto;
  margin: 1rem 0 2rem 0;
}

.refine-search-input {
  margin-bottom: 5%;
  width: 75%;
}

.tags-list > .item {
  margin-left: 1rem !important;
}

/*-----------------------------------*/
/*-----------------------------------*/
/*-----------------------------------*/
/* Style for Product's page */
/*-----------------------------------*/
/*-----------------------------------*/
/*-----------------------------------*/
.product-view, footer {
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

/*-----------------------------------*/
/*-----------------------------------*/
/*-----------------------------------*/
/* Style for checkout page */
/*-----------------------------------*/
/*-----------------------------------*/
/*-----------------------------------*/
.field label {
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

/*-----------------------------------*/
/*-----------------------------------*/
/*-----------------------------------*/
/* COLORS */
/*-----------------------------------*/
/*-----------------------------------*/
/*-----------------------------------*/

/*
Conventions:
 Base color has only F's and 0's.
 Color light takes the E and shifts it to an F.
 Color dark takes the 0 and shifts it to a 1.


  color-one: #FF0000
  color-one-light: #EE0000
  color-one-dark: #FF1111

  color-two: #0FFF00
  color-two-light: #0EEE00
  color-two-dark: #1FFF11

  color-three: #F000FF
  color-three-light: #E000EE
  color-three-dark: #F111FF

  color-four: #000FFF
  color-four-light: #000EEE
  color-four-dark: #111FFF

  color-five:#FFFF00
  color-five-light: #EEEE00
  color-five-dark: #FFFF11
*/

.color-one {
  background: #FF0000;
  color: #fff;
}

.border-color-one {
  border-color: #FF0000;
}

.color-one-text {
color: #FF0000;
}

.color-two {
color: #0FFF00;
}

.color-three {
background: #F000FF;
color: #4C4C4C;
}

.color-four {
background: #000FFF;
}

.section-title.color-five {
background: #FFFF00;
color:#FFF;
}

.color-one a {
  color: #fff;
}

.dark {
  color: #808080 !important;
}

.darker {
  color: #333 !important;
}

.white {
  color: #fff !important;
}

.btn:hover, .btn:focus {
  color: #fff;
}

.btn-one {
  background-color: #fff;
color: #FF0000;
border-color: #FF1111;
}

.btn-one:hover, .btn-one:focus, .btn-one:active, .btn-one.active, .open .dropdown-toggle.btn-one {
background-color: #FF1111;
color: #fff;
border-color: #FF1111;
}

.btn-two {
  background-color: #fff;
color: #0FFF00;
border-color: #1FFF11;
}

.btn-two:hover, .btn-two:focus, .btn-two:active, .btn-two.active, .open .dropdown-toggle.btn-two {
background-color: #1FFF11;
color: #fff;
border-color: #1FFF11;
}

.btn-three {
  color: #FFF;
background-color: #F000FF;
border: 0;
border-bottom: 4px solid #F111FF;
}

.btn-three:hover, .btn-three:focus, .btn-three:active, .open .dropdown-toggle.btn-three, .btn-three.active {
background-color: #F111FF;
color: #fff;
border-color: #F111FF;
}

.btn-four {
  background-color: #fff;
color: #000FFF;
border-color: #111FFF;
}

.btn-four:hover, .btn-four:focus, .btn-four:active, .btn-four.active, .open .dropdown-toggle.btn-four{
background-color: #111FFF;
color: #fff;
border-color: #111FFF;
}

.btn-five {
  background-color: #fff;
  color: #FFFF00;
  border-color: #FFFF11;
}

.btn-five:hover, .btn-five:focus, .btn-five:active, .btn-five.active, .open .dropdown-toggle.btn-five {
background-color: #FFFF11;
color: #fff;
border-color: #FFFF11;
}

.indicator-down {
border-top: 12px solid #FFFF00;
}

footer a {
color: #FFFF00;
}

footer a:hover,
footer a:focus,
footer a:active {
  color: #FFFF11;
}

.btn-black {
  color: #ffffff;
  background-color: #000000;
}

.btn-black:hover,
.btn-black:focus,
.btn-black:active,
.btn-black.active {
  color: #ffffff;
  background-color: #616161;
  border-color: #398439;
}

.btn-link {
  color: #0FFF00;
  font-weight: normal;
  border-radius: 0;
  padding: 2px 12px;
}
.btn-link,
.btn-link:active,
.btn-link.active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  box-shadow: none;
}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}
.btn-link:hover,
.btn-link:focus {
  color: #1FFF11;
  text-decoration: underline;
  background-color: transparent;
}
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #777777;
  text-decoration: none;
}


#checkout:hover,
#checkout:focus,
#checkout:active {
background-color: #FF1111;
}
