/*----------------------------------------*/
/*----------------------------------------*/
/*----------------------------------------*/
/* GLOBAL                                 */
/*----------------------------------------*/
/*----------------------------------------*/
/*----------------------------------------*/
* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
html {
  font-size: 14px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: "Lato", "Roboto Condensed", sans-serif;
  color: rgba(0,0,0,0.8);
}

/*----------------------------------------*/

/* Elements */

/*----------------------------------------*/
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #d4d4d4;
}

p {
  margin: 0 0 10px;
}

.btn {
  outline: none;
}

.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eeeeee;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}

/*----------------------------------------*/

/* Text */

/*----------------------------------------*/
.text-strikethrough {
  text-decoration: line-through;
}
.text-center {
  text-align: center !important;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-danger {
  color: #a94442;
}
a.text-danger:hover {
  color: #843534;
}

.light {
  font-weight: 200 !important;
}

.strong {
  font-weight: bold !important;
}

/*----------------------------------------*/

/* Layout */

/*----------------------------------------*/
.center-block {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden;
}

.transparent {
  border-color: transparent !important;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.full-width {
  width: 100% !important;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.no-margin-top {
  margin-top: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.horizontally-padded {
  padding-left: 5% !important;
  padding-right: 5% !important;
}

.row.padded {
  padding: 5%;
}

.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.horizontal-align {
  margin: 0 auto;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.float-clear {
  clear: both;
}

.inline-block {
  display: inline-block;
}

/*----------------------------------------*/

/* Borders */

/*----------------------------------------*/
.no-border {
  border: none !important;
}

.border {
  border: 1px solid #333;
}

.border-right {
  border-right: 1px solid #fff;
}

.border-left {
  border-left: 1px solid #fff;
}

.border-bottom-dark {
  border-bottom: 1px solid #333;
}

.border-bottom-clear {
  border-bottom: 1px solid #E0E0E0;
}

.border-clear {
  border: 1px solid #E0E0E0;
}

.no-border-radius {
  border-radius: 0 !important;
}

/*----------------------------------------*/

/* Button */

/*----------------------------------------*/
.buybutton {
  outline: none;
}


/*----------------------------------------*/
/*----------------------------------------*/
/*----------------------------------------*/
/* Style for list layout (wishlist page)  */
/*----------------------------------------*/
/*----------------------------------------*/
/*----------------------------------------*/
.list-layout-element {
  border-bottom: 1px solid #c6c6c6;
  margin-bottom: 20px;
  padding: 20px 0px;
}

/*-----------------------------------*/

/* Breadcrumbs */

/*-----------------------------------*/
.breadcrumb {
  padding: 24px 0;
}

.ui.breadcrumb a {
  color: #F1FFF1;
}

.ui.breadcrumb a:hover,
.ui.breadcrumb a:focus,
.ui.breadcrumb a:active {
  color: #F0FFF0;
}


/*-----------------------------------*/
/*-----------------------------------*/
/*-----------------------------------*/
/* Navigation bar style (.header) */
/*-----------------------------------*/
/*-----------------------------------*/
/*-----------------------------------*/
@media only screen and (max-width: 767px) {
  .ui.stackable.menu .item {
    margin-bottom: 5px;
  }
}

.supertop{
  background: linear-gradient(to bottom,  #ffffff 73%,#efefef 100%);
}

.wishlist-button{
  color: #333;
}

.wishlist-button:hover {
  text-decoration: none;
  text-color: #222;
}

.ui.horizontal.list:not(.celled)>.item:first-child {
  padding-left: 1rem !important;
}

.description a {
  color: #0FFF00;
}


/*-----------------------------------*/
/*-----------------------------------*/
/*-----------------------------------*/
/* Style for Category's page */
/*-----------------------------------*/
/*-----------------------------------*/
/*-----------------------------------*/
.category-logo {
  height: 120px;
  border-radius: 100px;
}

.category-header {
  background-size: cover;
  margin-top: 0px;
}

.category-title, .category-subtitle {
  color: #fff;
}

.category-overlay {
  background-color: rgba(0,0,0,0.2);

  padding: 50px;
}

/*-----------------------------------*/

/* Style for Category page refining bar */

/*-----------------------------------*/

.absolute-scrollable {
  padding: 0 5px;
  overflow: auto;
}

#refine-search-container {
  border-right: 1px solid #EBEBEB;
}

.refine-search-component {
  height: 500px;
  overflow: auto;
  margin: 1rem 0 2rem 0;
}

.refine-search-input {
  margin-bottom: 5%;
  width: 75%;
}

.tags-list > .item {
  margin-left: 1rem !important;
}


/*-----------------------------------*/
/*-----------------------------------*/
/*-----------------------------------*/
/* Style for Product's page */
/*-----------------------------------*/
/*-----------------------------------*/
/*-----------------------------------*/

.ui.accordion, .ui.accordion .accordion {
  width: 100%;
}


/*-----------------------------------*/
/*-----------------------------------*/
/*-----------------------------------*/
/* Style for checkout page */
/*-----------------------------------*/
/*-----------------------------------*/
/*-----------------------------------*/
.field label {
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

#why_email {
  cursor: default ;
}


/*-----------------------------------*/
/*-----------------------------------*/
/*-----------------------------------*/
/* Style for success dimmer */
/*-----------------------------------*/
/*-----------------------------------*/
/*-----------------------------------*/
.congratulate-dimmer {
  overflow: auto;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}


/*-----------------------------------*/
/*-----------------------------------*/
/*-----------------------------------*/
/* Style for cancelled Order dimmer */
/*-----------------------------------*/
/*-----------------------------------*/
/*-----------------------------------*/
#cancelledOrder {
  padding: 30px 15px;
  margin-bottom: 30px;
}