.cart-header {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    display: table;
    font-size: 15px;
    cursor: default;
    background-color: #333;
    color: #fff;
    text-align: center;
    width: 100%;
}

.cart-header h2 {
    margin: 20px 0px;
}


/*
    Checkout button.
*/
#checkout {
    text-align: center;
    vertical-align: middle;
    padding: 20px 50px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-transform: uppercase;
    color: #FFF;
    width: 100%;

    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.close-button {
    cursor: pointer;
}


/*
    Height of each item in cart drawer
*/
.cart-content {
    margin-top: 2.958rem;
}


/*
    Used to display the agreement at the bottom of checkout.
*/
.cart-content-agreement p{
    opacity: 0.8;
    font-size: 0.75em;
    pointer: default;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.cart-content-agreement p:hover{
    opacity: 1.0;
}