.cart-header {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    cursor: default;
    background-color: #333;
    width: 100%;
}

.cart-header-table {
    height: 70px;
}

.close-button {
    cursor: pointer;
}


/*
    Height of each item in cart drawer
*/
.cart-content {
    margin-top: 2.958rem;
}


/*
    Used to display the agreement at the bottom of checkout.
*/
.cart-content-agreement p{
    opacity: 0.8;
    font-size: 0.75em;
    cursor: default;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.cart-content-agreement p:hover{
    opacity: 1.0;
}