/*-----------------------------------*/
/*-----------------------------------*/
/*-----------------------------------*/
/* COLORS */
/*-----------------------------------*/
/*-----------------------------------*/
/*-----------------------------------*/

/*
Conventions:
 Base color has only F's and 0's.
 Color light takes the E and shifts it to an F.
 Color dark takes the 0 and shifts it to a 1.


  color-one: #00F0F0
  color-one-light: #00E0E0
  color-one-dark: #11F1F1

  color-two: #0FFF00
  color-two-light: #0EEE00
  color-two-dark: #1FFF11

  color-three: #F000FF
  color-three-light: #E000EE
  color-three-dark: #F111FF

  color-four: #000FFF
  color-four-light: #000EEE
  color-four-dark: #111FFF

  color-five:#F0FFF0
  color-five-light: #E0EEE0
  color-five-dark: #F1FFF1
*/

.color-one {
    background: #00F0F0 !important;
    color: #fff !important;

    -webkit-transition: background 0.1s ease, color 0.1s ease !important;
    transition: background 0.1s ease, color 0.1s ease !important;
}

.color-one:hover, .color-one:active, .color-one:focus {
    background: #11F1F1 !important;
}

.border-color-one {
    border-color: #00F0F0;
}

.color-one-text {
    color: #00F0F0;
}

.color-two {
    color: #0FFF00;
}

.color-three {
    background: #F000FF;
    color: #4C4C4C;
}

.color-four {
    background: #000FFF;
}

.section-title.color-five {
    background: #F0FFF0;
    color:#FFF;
}

.dark {
    color: #808080 !important;
}

.darker {
    color: #333 !important;
}

.white {
    color: #fff !important;
}

.btn:hover, .btn:focus {
    color: #fff;
}

.btn-one {
    background-color: #fff;
    color: #00F0F0;
    border: 1px solid #11F1F1;
}

.btn-one:hover, .btn-one:focus, .btn-one:active, .btn-one.active, .open .dropdown-toggle.btn-one {
    background-color: #11F1F1;
    color: #fff;
    border: 1px solid #11F1F1;
}

.btn-one-inverted {
    background-color: #00F0F0;
    color: #fff;
    border: 1px solid #11F1F1;
}

.btn-one-inverted:hover, .btn-one-inverted:focus, .btn-one-inverted:active, .btn-one-inverted.active, .open .dropdown-toggle.btn-one-inverted {
    background-color: #fff;
    color: #11F1F1;
    border: 1px solid #11F1F1;
}

.btn-two {
    background-color: #fff;
    color: #0FFF00;
    border: 1px solid #1FFF11;
}

.btn-two:hover, .btn-two:focus, .btn-two:active, .btn-two.active, .open .dropdown-toggle.btn-two {
    background-color: #1FFF11;
    color: #fff;
    border: 1px solid #1FFF11;
}

.btn-two-inverted {
    background-color: #0FFF00;
    color: #fff;
    border: 1px solid #1FFF11;
}

.btn-two-inverted:hover, .btn-two-inverted:focus, .btn-two-inverted:active, .btn-two-inverted.active, .open .dropdown-toggle.btn-two-inverted {
    background-color: #fff;
    color: #1FFF11;
    border: 1px solid #1FFF11;
}

.btn-three {
    color: #FFF;
    background-color: #F000FF;
    border: 0;
    border-bottom: 4px solid #F111FF;
}

.btn-three:hover, .btn-three:focus, .btn-three:active, .open .dropdown-toggle.btn-three, .btn-three.active {
    background-color: #F111FF;
    color: #fff;
    border-color: #F111FF;
}

.btn-three-inverted {
    color: #F000FF;
    background-color: #fff;
    border: 0;
    border-bottom: 4px solid #F111FF;
}

.btn-three-inverted:hover, .btn-three-inverted:focus, .btn-three-inverted:active, .open .dropdown-toggle.btn-three-inverted, .btn-three-inverted.active {
    background-color: #fff;
    color: #F111FF;
    border-color: #F111FF;
}

.btn-four {
    background-color: #fff;
    color: #000FFF;
    border: 1px solid #111FFF;
}

.btn-four:hover, .btn-four:focus, .btn-four:active, .btn-four.active, .open .dropdown-toggle.btn-four{
    background-color: #111FFF;
    color: #fff;
    border: 1px solid #111FFF;
}

.btn-four-inverted {
    background-color: #000FFF;
    color: #fff;
    border: 1px solid #111FFF;
}

.btn-four-inverted:hover, .btn-four-inverted:focus, .btn-four-inverted:active, .btn-four-inverted.active, .open .dropdown-toggle.btn-four-inverted{
    background-color: #fff;
    color: #111FFF;
    border: 1px solid #111FFF;
}

.btn-five {
    background-color: #fff;
    color: #F0FFF0;
    border: 1px solid #F1FFF1;
}

.btn-five:hover, .btn-five:focus, .btn-five:active, .btn-five.active, .open .dropdown-toggle.btn-five {
    background-color: #F1FFF1;
    color: #fff;
    border: 1px solid #F1FFF1;
}

.btn-five-inverted {
    background-color: #F0FFF0;
    color: #fff;
    border: 1px solid #F1FFF1;
}

.btn-five-inverted:hover, .btn-five-inverted:focus, .btn-five-inverted:active, .btn-five-inverted.active, .open .dropdown-toggle.btn-five-inverted {
    background-color: #fff;
    color: #F1FFF1;
    border: 1px solid #F1FFF1;
}

.indicator-down {
    border-top: 12px solid #F0FFF0;
}

footer a {
    color: #F0FFF0;
}

footer a:hover,
footer a:focus,
footer a:active {
    color: #F1FFF1;
}

.btn-black {
    color: #ffffff;
    background-color: #000000;
}

.btn-black:hover,
.btn-black:focus,
.btn-black:active,
.btn-black.active {
    color: #ffffff;
    background-color: #616161;
    border-color: #398439;
}

.btn-link {
    color: #0FFF00;
    font-weight: normal;
    border-radius: 0;
    padding: 2px 12px;
}
.btn-link,
.btn-link:active,
.btn-link.active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
    background-color: transparent;
    box-shadow: none;
}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
    border-color: transparent;
}
.btn-link:hover,
.btn-link:focus {
    color: #1FFF11;
    text-decoration: underline;
    background-color: transparent;
}
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
    color: #777777;
    text-decoration: none;
}


#checkout:hover,
#checkout:focus,
#checkout:active {
    background-color: #11F1F1;
}
