/*----------------------------------------*/
/*----------------------------------------*/
/*----------------------------------------*/
/* Style for product tiles (dense layout) */
/* Grid and list layout                   */
/*----------------------------------------*/
/*----------------------------------------*/
.grid-layout-dense .dense-product .name,
.grid-layout-dense .dense-product .brand,
.grid-layout-dense .dense-product .price {
    padding: 3px;
}

.grid-layout-dense .dense-product .btn {
    border: 1px solid lightgray;
    border-radius: 5px;
}

.grid-layout-dense .dense-product {
    /*height: 320px;*/
    border: 1px solid #CCC;
    border-left: 0;
    border-top: 0;
    padding: 25px;
}

.grid-layout-dense .dense-product img {
    margin-bottom: 1.3rem;
    max-width: 20em;
    height: 160px;
}

.short-description {
    margin-top: 2rem;
}
/*-----------------------------------*/

/* FAVORITE ICON */

/*-----------------------------------*/
.favorite-heart {
    color: #F45D5D;
}

.favorite-wrapper {
    cursor: pointer;
    display: none;
    padding: 3px 3px 2px 7px;
    border-radius: 2px;

    transition: all 0.1s ease-in;
}


.favorite-heart:hover, .favorite-heart:active {
    color: #E8634D;
}

.favorited {
    display: block !important;
}


/*----------------------------------------*/
/*----------------------------------------*/
/*----------------------------------------*/
/* Style for product tiles (not dense layout) */
/* Grid and list layout                   */
/*----------------------------------------*/
/*----------------------------------------*/
.grid-layout-regular {
    padding: 2rem 0 !important;
}

.grid-layout-regular figure {
    margin: 1rem;
}

.w-box h5, .w-box h2 {
    margin: 0;
    padding: 10px 15px;
}

.w-box h2 {
    border-bottom: 1px solid #F1F1F1;
    font-weight: 700;
    font-size: 1.28571429em;
    line-height: 1.2857em;
    color: rgba(0,0,0,0.85);
}

.w-box p {
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif ;
    margin: 0;
    font-size: 14px;
    padding: 15px;
    color: #4C4C4C;
}

.w-footer .pricetag {
    color: #4C4C4C;
    font-size: 1.5rem;
}

.w-box .w-footer {
    display: block;
    border-top: 1px solid #F1F1F1;
    padding: 10px 15px;
}

.blog-grid .item {
    height: 482px;
    margin-bottom: 1%;
}

/*----------------------------------------*/
/*----------------------------------------*/
/*----------------------------------------*/
/* Style for product in product page      */
/*----------------------------------------*/
/*----------------------------------------*/
/*----------------------------------------*/
.pricing-plans .plan-title {
    text-align: center;
    margin: 0;
    font-size: 28px;
    font-weight: 700;
    color: #656565;
}

.pricing-plans .plan-info {
    margin: 1rem 0 ;
    padding: 1rem;
}

.pricing-plans .price-tag {
    margin: 0;
    height: 90px;
    line-height: 90px;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}

.pricing-plans ul {
    margin: 0;
    padding: 0 15px;
    list-style: none;
}

.pricing-plans ul li {
    padding: 8px 0;
    border-bottom: 1px solid #F1F1F1;
    font-size: 13px;
}

ul.categories {
    list-style: none;
    margin: 0;
    padding: 0 !important;
}

ul.categories li {
    margin: 5px 0;
}

ul.categories.highlight li a {
    display: block;
    padding: 10px;
    background: #FFF;
    color: #222;
}

.facebook_share_button a {
    background-color: #3B5998!important;
    color: #F7F7F7!important;
}

.pinterest_share_button a {
    background-color: #EFEFEF!important;
    color: #BD091F!important;
}

.tags-list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.tags-list li {
    border: 1px solid #ECF0F1;
    background: #FFF;
    padding: 5px;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    color: #656565;
    font-size: 12px;
}

.tags-list li a {
    color: #001441;
    margin-left: 4px;
}

#product-description ul.meta-list {
    margin: 0;
    padding: 10px 15px 15px 15px;
    display: block;
    list-style: none;
    font-size: 0.8em;
}

.blog-post ul.meta-list li:first-child {
    padding: 0;
    border-left: 0;
}

.blog-post ul.meta-list li {
    display: inline-block;
}










